@media (max-width: 414px) {

    body {
        margin: 0;
        padding: 0;
        width: 100%;
    }

    a {
        text-decoration: none;
        color: black;
        cursor: pointer;
        font-family: "Josefin Sans", sans-serif;
    }

    a:hover {
        color: blue;
    }

    .container {
        margin: 0 auto;
        padding: 0;
        width: 414px;
    }

    .asos__help__container {
        display: none;
    }

    .asos__link, .asos__location {
        display: none;
    }

    .asos__link:first-child {
        display: none;
    }

    .img__location {
        display: none;
    }

    .asos__menu {
        background-color: #2d2d2d;
        height: 50px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;
        width: 414px;
    }

    .burger {
        display: block;
        padding-left: 25px;
    }

    .burger__item {
        border-bottom: 3px solid white;
        content: "";
        height: 5px;
        width: 22px;
    }

    .asos__menu__container {
        height: inherit;
        display: flex;
        align-items: center;
    }

    .img__logo {
        padding-top: 10px;
        width: 90px;
        padding-right: 60px;
        padding-left: 20px;
    }

    .asos__choice_women {
        display: none;
    }

    .asos__choice_men {
        display: none;
    }

    .asos__search {
        padding-top: 32px;
        height: inherit;
        position: relative;
        padding-right: 37px;
    }

    .asos__search::after {
        display: block;
        content: "";
        background: url(../assets/magnifying-glass.svg) no-repeat;
        position: absolute;
        width: 25px;
        height: 25px;
        margin-right: 15px;
        filter: invert(100%);
    }

    input {
        display: none;
    }

    input::placeholder {
        display: none;
    }

    .asos__icons {
        max-width: 150px;
        display: flex;
        align-items: center;
        padding-top: 10px;
    }

    .icon {
        width: 25px;
        height: 25px;
        padding: 0 12px;
    }

    .asos__discount {
        background-color: rgb(239, 30, 65);
        width: 414px;
        margin: 0 auto;
    }

    .asos__discount_container {
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 600;
        font-family: "Josefin Sans", sans-serif;
    }

    .discount__text {
        display: flex;
        text-align: center;
        font-weight: 600;
        font-family: "Josefin Sans", sans-serif;
    }

    .discount__choice_women, .discount__choice_men {
        display: none;
    }

    .discount__choice_men {
        display: none;
    }

    .asos__content {
        width: 414px;
        margin: 0 auto;
    }

    .content__container {
        height: 747px;
        background: url(../assets/bg_asos.JPG) center center;
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        font-family: "Josefin Sans", sans-serif;
        margin: 0;
        padding: 0;
    }

    .shop__choice {
        max-width: 414px;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 210px;
    }

    .shop__title {
        font-size: 40px;
        line-height: 30px;
        letter-spacing: 2px;
        font-weight: 700;
    }

    .shop__subtitle {
        line-height: 24px;
        font-size: 16px;
        padding-top: 10px;
    }

    .shop__male {
        width: 380px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .shop__male_women, .shop__male_men {
        margin-top: 20px;
        background-color: #f8f8f8;
        color: black;
        width: 200px;
        padding: 5px 20px;
        display: block;
        box-sizing: border-box;
        font-size: 16px;
        line-height: 39px;
        font-weight: 700;
        letter-spacing: 2px;
        text-align: center;
        font-family: "Josefin Sans", sans-serif;
    }

    .asos__bonus {
        display: none;
    }

    .content__icons {
        display: none;
    }

    footer {
        margin: 0 auto;
        width: 414px;
        padding: 0;
    }

    .footer__info {
        display: none;
    }

    .asos__copyright {
        background-color: #ddd;
        color: #666;
        width: 414px;
        height: 50px;
    }

    .copyright {
        font-family: "Josefin Sans", sans-serif;
        color: #666;
        font-size: 12px;
        padding-left: 10px;
    }

    .asos__copyright__container {
        height: inherit;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .copyright__links {
        display: flex;
        font-size: 12px;
    }

    .footer__link {
        font-family: "Josefin Sans", sans-serif;
        padding: 0 10px;
    }

    .footer__link:first-child {
        border-right: 1px solid #666;
    }

    .footer__link:last-child {
        display: none;
    }
}
